body    {background-color:#F15B79}
.top-menu {padding-top: 0px;
    height: 35px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    background: #3e4551;
    box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
    opacity: .95;}
ul {margin-top: 0px;}
li {display: inline;}
.social {
      width: 20px;
      height: 25px;
      margin: 5px;}
.altsynth {
      top: 0;
      right: 0;
      left: 0;
      margin-top: 35px;
      color: #620623;
      border-radius: 1px;
      font-weight: lighter;
      font-size: 40px;
      font-family:monospace;
      border:5px solid;
      border-color:#000000;
      border-width: thick;
      text-align: center;
      background-color: #004242;}

.anchor  {text-align:center;}
.slohan   {position: static;
          text-align: center;
          word-spacing: 420px;
          font-size: 20px;
          font-family: monospace;
          font-weight: bold;
          margin: auto;}
.mainimages      {width: 487px;
      height: 600px;
      padding: 5px;
        box-shadow: 0 0 15px 0 rgba(1,1,1,1);}
  .bottom {text-align: center;
            font-style: oblique;}
.email    {background-color: #FD9AD2;
  font: 12px/1.5 Helvetica, Arial, sans-serif;
  border: 2px solid;
  overflow: visible;}
.confirm  {background-color: #FD9AD2;
    font: 12px/1.5 Helvetica, Arial, sans-serif;
    border: 2px solid;
    overflow: visible;
    box-shadow: 0 0 8px 0 rgba(0,0,0,1);}
aside   {text-align:center;
          border:2px solid;
          border-width: medium;
          margin-right: 650px;
          margin-left: 650px;
          font-style: oblique;
          border-color: #FF0400;}
commit test 
