body    {background-color:#F15B79}
.altsynth {color: #620623;
  border-radius: 10px;
      font-weight: lighter;
      font-size: 40px;
      font-family:monospace;
      border:5px solid;
      border-color:#FD7A00;
      border-width: thick;
      padding-right: auto;
      text-align: center;
      background-color: #F292FD;}

.nazhmi  {text-align: center;
    align: center;}

.pluses   {
          text-align: center;
          word-spacing: 420px;
          font-size: 20px;
          font-family: monospace;
          font-weight: bold;
        margin-top: 10px;}
img      {width: 487px;
      height: 600px;
      padding: 5px;}
.email    {background-color: #FD9AD2;
  font: 12px/1.5 Helvetica, Arial, sans-serif;
  border: 2px solid;
  overflow: visible;}
.confirm  {background-color: #FD9AD2;
    font: 12px/1.5 Helvetica, Arial, sans-serif;
    border: 2px solid;
    overflow: visible;}
aside   {text-align:center;
          border:2px solid;
          border-width: medium;
          margin-right: 650px;
          margin-left: 650px;
          font-style: oblique;
          border-color: #FF0400;}
